body{
  margin:0px;
  padding:0px;
  border:0px;
}
ul{
  list-style-type: none;

}
.header >h1{font-size: 3em}
#box{
  height:100vh;
  display:grid;
  grid-template-columns:15% 70% 15%;
}
.inbox{
  background-image: url("paper.jpg");
  background-size: 100% auto;
  color:#262425;

}

.header{
  display:flex;
  align-items: center;
  justify-content: center;

}

#mainContent > h1{
  align-content: center;
  color:white;
}
li{
   font-size: 35px;
   margin-top:10px;
}
.lines{
  background-image: url("2+3.png");
}
.app{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.inputFile{
  display:none;
}
label{
  height: 100px;
  width:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  margin-bottom:10px;
  font-size:100px;
  background:lightskyblue;
  cursor:pointer;
}
.fileText{
  margin-bottom:10px;
}
button{
  padding: 20px 25px;
  background:rgb(12,70,179);
  color:whitesmoke;
  border:none;
  margin-bottom:10px;
  cursor:pointer0;
  font-size:20px;
  font-weight:700;
}
.bat{
  height:50px;
  width:500px;
  background: #80808073;
  magin-bottom:10px;
}
.progress{
  background:linear-gradient(12eg,red,blue);
  height: 100%;
  width:0%;
}
.uploadPercentage{
  font-size:25px;
}
.img{
  height:200px;
  width:auto;
  ovject-fit:contain;
  display:none;
  border: 5px solid steelblue;
}
.imageUploaded{
  margin-top: 10px;
}
.app>p{
  font-size: 2em;
}
